[submodule "contrib/SDM.pretty"]
	path = contrib/SDM.pretty
	url = git@github.com:sundevilmotorsports/SDM.pretty.git
[submodule "contrib/sdm_kicad"]
	path = contrib/sdm_kicad
	url = git@github.com:sundevilmotorsports/sdm_kicad.git
