[submodule "contrib/teensy.pretty"]
	path = contrib/teensy.pretty
	url = https://github.com/XenGi/teensy.pretty.git
[submodule "contrib/teensy_library"]
	path = contrib/teensy_library
	url = https://github.com/XenGi/teensy_library.git
[submodule "sdm_kicad"]
	path = sdm_kicad
	url = git@github.com:sundevilmotorsports/sdm_kicad.git
